.container-fluid {
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.bgLogin {
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

.centerDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

.formdesign input {
    width: 100%;
    padding: 2px;
    border: 1px solid black;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 4px;
}

.formerror {
    color: red;
}
#video {
    border: 1px solid black;
    width: 200px;
    height: 150px;
}

#photo {
    border: 1px solid black;
    width: 200px;
    height: 150px;
}

#canvas {
    display: none;
}

.camera {
    width: 200px;
    display: inline-block;
}

.output {
    width: 200px;
    display: inline-block;
}

#startbutton {
    padding: 5px;
    background-color: #6a67ce;
    border: 1px solid rgba(255, 255, 255, 0.7);
    font-size: 14px;
    color: rgba(255, 255, 255, 1.0);
    cursor: pointer;
}