.container-fluid {
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.bgLogin {
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

.centerDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.formdesign input {
    width: 100%;
    padding: 2px;
    border: 1px solid black;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 4px;
}

.formerror {
    color: red;
}
